# Ignore all real data
data/real_backup/

# Allow ONLY dummy city files
!data/raw/city/*dummy*

# Allow ONLY dummy hospital files
!data/raw/hospitals/*dummy*

# Keep folder structure
!data/
!data/raw/
!data/raw/city/
!data/raw/hospitals/

# Ignore all model files
models_tff/*.keras

# But keep the folder itself
!models_tff/
!models_tff/.gitkeep

# Python cache / temp
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db
