name: MLOps CI Pipeline

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build-and-run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t mlops_fl .

      - name: Run full ML pipeline inside Docker
        run: |
          docker run --rm -v ${{ github.workspace }}:/app -w /app mlops_fl bash ./run_pipeline.sh
